body {
    background-color: rgb(17, 24, 38);
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

h1, h3, p {
    color: white;
}
.ok {
    font-size: 20px;
}
h1 {
    text-align: center;
    font-size: 36px;

}

h3 {
    font-size: 1rem;
}

p {
    color: rgb(157, 164, 176);
}

a {
    color: rgb(62, 130, 247);
    text-decoration: none;
}

.centro {
    text-align: center;
    margin: 20px;
}

.line {
    width: calc(100% - 80px); /* Isso já diminui 40px de cada lado */
    border-bottom: 1px solid rgb(55, 65, 82);
    margin-left: 40px;
    margin-right: 40px; /* Define a margem direita correta */
}

.coluns {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    gap: 30px;
    flex-wrap: wrap;
}

.primeiro, .segundo, .terceiro {
    flex: 1;
    padding: 20px;
    min-width: 300px; /* Garante que os blocos tenham uma largura mínima */
}

h3 {
    margin: 20px 0 10px;
}

ul {
    padding-left: 20px;
}

/* Estilos responsivos */

@media (max-width: 768px) {
    .coluns {
        flex-direction: column;
        padding: 0 10px;
        align-items: flex-start;
    }

    .primeiro, .segundo, .terceiro {
        width: 100%;
        padding: 10px;
    }
    
    .line {
        margin-left: 0;
        margin-right: 0; /* Remove a margem direita para ajuste */
        width: calc(100% - 40px); /* Reduz a largura em 20px de cada lado */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 0.85rem;
    }

    p {
        font-size: 0.85rem;
    }
    .line {
        margin-left: 0;
        margin-right: 0; /* Remove a margem direita para ajuste */
        width: calc(100% - 40px); /* Reduz a largura em 20px de cada lado */
    }
    .primeiro, .segundo, .terceiro {
        width: 100%;
        padding: 5px;
    }
}
@media (max-width: 768px) {
    h1, .ok {
        text-align: left; /* Alinha o h1 e o parágrafo à esquerda */
    }

    .coluns {
        flex-direction: column;
        padding: 0 10px;
        align-items: flex-start;
    }

    .primeiro, .segundo, .terceiro {
        width: 100%;
        padding: 10px;
    }
    
    .line {
        margin-left: 20px;
        margin-right: 20px; /* Reduz a largura em 20px de cada lado */
        width: calc(100% - 40px); /* Ajusta a largura */
    }
}

@media (max-width: 480px) {
    h1, .ok {
        text-align: left; /* Alinha o h1 e o parágrafo à esquerda */
    }

    h1 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 0.85rem;
    }

    p {
        font-size: 0.85rem;
    }

    .line {
        margin-left: 20px;
        margin-right: 20px; /* Ajuste da margem para reduzir a largura */
        width: calc(100% - 40px); /* Reduz a largura em 20px de cada lado */
    }

    .primeiro, .segundo, .terceiro {
        width: 100%;
        padding: 5px;
    }
}
